body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 5px; /* Eliminar el margen por defecto del cuerpo */
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
}

header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex; /* Para alinear elementos en línea */
    align-items: center; /* Para centrar verticalmente */
    justify-content: space-between; /* Para distribuir espacio entre elementos */
    position: fixed; /* Hacer que el header sea fijo */
    top: 0; /* Fijar el header en la parte superior */
    width: 100%; /* Asegurarse de que el header ocupe todo el ancho de la página */
    z-index: 1000; /* Asegurarse de que el header se superponga a otros elementos */
    padding: 10px 40px; /* Añade espacio a la derecha del header */
    font-weight: bold; 
}

header img#logo {
    height: 100px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 1px; /* Reduce el espacio entre el logo y el título */
}

header h1 {
    margin: 0;
    font-size: 24px; 
    color: green;
}

header nav {
    margin-left: auto; /* Alinea la navegación hacia la derecha */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Para alinear elementos en línea */
    gap: 40px;
}

header nav ul li {
    margin-inline-end: 50px;
}

header#navegacion-sitio {
    background-color: #ffffff;
    padding: 10px;
}

header#navegacion-sitio nav ul li a {
    text-decoration: none;
    color: #0b0b0b;
}

header#navegacion-sitio nav ul li a:hover {
    text-decoration: underline;
}

/* estilos para la seccion de servicios */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
    width: 40%;
    height: auto;
}

.service-info {
    padding: 20px;
}

.service h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.service p {
    font-size: 16px;
    margin: 0;
    color: #555;
}